@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html,
body,
#root {
  height: 100%;
  width: 100%;
}

*{
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
  /* background-color: white; */
  color: white;
}

button {
  outline: none;
}


.hamburger .lines {
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
  display: inline-block;
  /* position: relative; */
  /* left: 30px; */
  height: 2px;
  background: #F7F7F7;
  transform: translateX(-50px);
  /* transition-timing-function: linear; */
}